@import url('https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@300..700&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Hanken+Grotesk:ital,wght@0,100..900;1,100..900&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Inconsolata:wght@200..900&display=swap');

@import 'tailwindcss';

:root {
	--primary: #34d399;
	--secondary: #1c1d1c;
}

body {
	overscroll-behavior: none;
	margin: 0;
	padding: 0;
	overflow-x: hidden;
}

@theme {
	/* Fonts */
	--font-hanken-grotesk: 'Hanken Grotesk', sans-serif;
	--font-space-grotesk: 'Space Grotesk', sans-serif;
	--font-roboto: 'Roboto', sans-serif;
	--font-inconsolata: 'Inconsolata', monospace;

	/* Colors */
	--color-soft-black: #0a0a0a;
	--color-soft-dark: #1c1d1c;

	/* Animations */
	--animate-slide-in-down: slide-in-down 0.4s ease-in-out forwards;
	--animate-slide-out-up: slide-out-up 0.4s ease-in-out forwards;
	--animate-fadeIn: fadeIn 0.8s ease-in-out forwards;
	--animate-fadeOut: fadeIn 0.8s ease-out forwards;
	--animate-marquee: someMarquee 60s linear infinite;

	@keyframes slide-in-down {
		0% {
			opacity: 0;
			transform: translateY(-30%);
		}
		100% {
			opacity: 1;
			transform: translateY(0%);
		}
	}

	@keyframes slide-out-up {
		0% {
			opacity: 1;
			transform: translateY(0%);
		}
		100% {
			opacity: 0;
			transform: translateY(-30%);
		}
	}

	@keyframes fadeIn {
		0% {
			opacity: 0;
		}
		,
		100% {
			opacity: 1;
		}
	}

	@keyframes fadeOut {
		0% {
			opacity: 1;
		}
		,
		100% {
			opacity: 0;
		}
	}

	@keyframes someMarquee {
		0% {
			transform: translateX(0%);
		}
		100% {
			transform: translateX(-50%);
		}
	}
}

/* Dark Mode */
@custom-variant dark (&:where(.dark, .dark *));

* {
	scrollbar-width: thin;
	scrollbar-color: var(--primary) var(--secondary);
}

*::-webkit-scrollbar {
	width: 12px;
}
​ *::-webkit-scrollbar-track {
	background: var(--primary);
}

​ *::-webkit-scrollbar-thumb {
	background-color: var(--secondary);
	border-radius: 20px;
	border: 3px solid var(--primary);
}
